body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}

.keyboardContainer {
    background-color: #f0f0f0;
    width: 100%;
    max-width: 1640px;
    margin: 0 auto;
    padding: 10px 5px 20px 5px;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    gap: 5px;
}

.one, .two, .three, .four, .five {
    margin: 10px 0 0 0;
}

button {
    background-color: #ffffff;
    border-radius: 10px;
    height: 80px;
    font-size: 30px;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    border-style: none;
    flex: content;
    width: 60px;
    border: none;
}

.one button, .hyphen, .ho, .dong {
    background-color: #b6b6b6;
}

.one {
    margin-right: 100px;
}

.hyphen {
    width: 70px;
    margin-left: 15px;
}

.three {
    margin-left: 60px;
}

.ho {
    width: 70px;
    margin-left: 60px;
}

.shift, .delete {
    width: 120px;
}

/* .delete button {
    width: 400px;
} */

.dong {
    width: 70px;
    margin-left: 25px;
}

.change {
    /* width: 50px; */
    height: 50px;
    margin-left: 20px;
    margin-right: 10px;
}

.space {
    width: 400px;
    height: 50px;
    /* margin-left: 10px; */
    /* margin-right: 20px; */
}

button:active {
    box-shadow: 1px 1px 2px #858383, 4px 4px 2px #7c7c7c;
}

@media screen and (max-width: 2360px) {
    button {
        /* font-size: 25px; */
        height: 80px;
    }    

    .shift, .delete, .dong, .change {
        height: 80px;
    }

    .space {
        height: 80px;
        width: 60%;
    }
}